{% extends "base.html" %}
{% load static %}



{% block 'head' %}
<link rel="stylesheet" href="{% static 'mesas/css/mesas.css' %}">
{% endblock %}

{% block 'title' %}
RRB&C - Mesas
{% endblock %}

{% block 'body' %}

<body>
  <div class="grid-container">

    {% for mesa in mesas %}

    <div class="card"
    {% if mesa.active == True %}
    style="background-color: indianred;"
    {% endif %}
    >{{mesa.name}} 
    

    <form action="{% url 'onOffmesa' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id-mesa" value="{{ mesa.id }}">
      <button type="submit">On/Off</button>
    </form>
    

  </div>

    {% endfor %} 


  </div>
</body>


{% endblock %}