django==5.1.4
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-extensions==3.2.3
django-pwa==2.0.1
gunicorn==23.0.0
pillow==11.1.0
python-dotenv==1.1.0
whitenoise==6.11.0
websockets==15.0