.grid-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0px 0px 20px 0px; 
  padding: 10px;
}

.card {
  width: 420px;
  height: 420px;
  justify-items: center;
  /* background: linear-gradient(135deg, #97cefa, #457bd1); */
  background: var(--main-gradient);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.719);

  text-align: center;
  line-height: 30px; 
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #333;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(199, 199, 199, 0.25);
}

.card-resumo {
  display: grid;
  grid-template-columns: 2fr 0.6fr ;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 130px;
  background: var(--main-gradient);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(12, 12, 12, 0.973);
  text-align: left;
  line-height: 20px; 
  padding: 15px 30px 15px 30px;
  transition: box-shadow 0.4s;

}

.card-resumo:hover {
  
  box-shadow: 0 4px 15px rgba(175, 175, 175, 0.295);
  text-align: left;
  line-height: 20px; 
  padding: 15px 30px 15px 30px;
}
.card-faturamento-anual {
  justify-self: center;
  align-items: center;
  width: 70%;
  max-width: 1350px;;
  max-height: 350px;
  margin: 30px;
  background: var(--main-gradient);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.493);
  text-align: left;
  line-height: 20px; 
  padding: 15px 30px 15px 30px;
}

.card-resumo h2 {
  font-size: 35px;
  margin: 0px;
  color: #fff;
}

@media screen and (max-width: 730px) {
  .grid-container {
    justify-items: center;
    display: grid;
    width: 99%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 5px; 
  }

  .card {
    width: 95%;
 
  }
  .card-faturamento-anual {
    /* height: 100%; */
    min-height: 280px;
  min-width: 95%;
  padding: 15px 0px 15px 0px;
  }
}
