@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --main-gradient: linear-gradient(145deg, #1E2A3B, #2C3E50);
  }

  @keyframes jump {
    0% {
      transform: scale(0.0);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  

body {
    margin: 70px 0px 0px 0px;
}

h1{
text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

input, textarea, select {
    width: 95%;
    max-width: 95%;
    max-height: 300px;
    /* padding: 8px; */
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #cccccc52;
}


.btn-primary {
    align-items: center;
    background: var(--main-gradient);
    border-color: rgba(86, 187, 255, 0.192);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.973);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
    transition: box-shadow 0.4s;
  }
  
  .btn-primary:hover {
    box-shadow: 0px 0px 15px rgba(86, 187, 255, 0.815);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
  }
  
.btn-secondary {
    align-items: center;
    background: var(--main-gradient);
    border-color: rgba(53, 241, 62, 0.425);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.973);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
    transition: box-shadow 0.4s;
  }
  
  .btn-secondary:hover {
    box-shadow: 0px 0px 15px rgb(53, 241, 62);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
  }

.btn-cancel {
    align-items: center;
    background: linear-gradient(145deg,  #dd3d3d8e, #9b4d4dbd);
    border-color: rgba(250, 62, 62, 0.404);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(12, 12, 12, 0.973);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
    transition: box-shadow 0.4s;
  }
  
  .btn-cancel:hover {
    box-shadow: 0px 0px 15px rgba(255, 86, 86, 0.815);
    text-align: left;
    line-height: 20px; 
    padding: 15px 30px 15px 30px;
  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.p-header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    
}

.logo {
    display: flex;
    margin-top: 5px;
    align-items: center;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.logout-button{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 0.5fr);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    gap: 10px;}

.logout-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


  .dropdown {
    position: relative;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    transition: display 0.9s, animation 0.9s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #313238;
    min-width: 160px;
    box-shadow: 0px 3px 10px #464646;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    animation: jump 0.7s;


    
  }
  
  .dropdown-content a:hover {
    background-color: #7a7a7a;
    border-radius: 5px;
    display: block;
    /* animation: jump 0.7s; */


    }

  .img-drop {
    width: 35px;
    transition: transform 0.3s ease-in-out;
  }

  .dropdown:hover .img-drop {
    transform: rotate(180deg);
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
      animation: jump 0.7s;

}



.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: var(--main-gradient);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 0px 8px rgb(255, 255, 255);
}

.navigation ul {
  width: 350px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  text-decoration: none;
  color: #555;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation ul li a .icon {
  position: fixed;
  background: #add7ff;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: #222327;
  font-size: 1.5em;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 100;
}

.navigation ul li a .icon:hover {
  background: #222327;
  color: #fff;
  transform: translateY(-10px);
}

.toast {
  position: fixed;
  top: 40px;
  width: 30%;
  left: 50%;
  justify-items: center;
  align-items: center;
  transform: translateX(-50%);
  background-color: #599100;
  color: #000000;
  font-weight: bold;
  padding: 20px 1px 1px 1px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 999 ;
}
@media screen and (max-width: 730px) {
  .toast-add {
    width: 90%;
    
  }
}
.toast p {
  color: #000000;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}


@media screen and (max-width: 730px) {
    .dropdown-content {
        display: none;
        margin-top: 40px;
        position: relative;
        border-radius: 0px;
        min-width: 160px;
      }
    .nav-bar {
        padding: 0.1rem 2rem;
    }
    .nav-item {
        display: none;
    }
    .logout-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .logout-button {
        display: block;
        justify-items: center;
        justify-self: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .logout-button button {
        width: 100%;
    }
    .open {
        display: block;
        transition: transform 0.2s;
    }

    .navigation {
      display: flex;
    }
}










.header-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #171525;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(5px); */
  padding: 1rem;
  padding-right: 50px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
}

.header-mobile .logo {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.header-mobile .logo i {
  color: #fbbf24;
  font-size: 2rem;
}

.header-mobile .logo span {
  
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: .5rem;
}

.header-mobile .nav-toggle {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  padding-right: 0;
  margin-right: 10;
}

.header-mobile .nav-toggle i {
  color: white;
  font-size: 1.5rem;
}

.header-mobile .nav-links {
  max-width: 70%;
  position: fixed;
  top: 83px;
  left: -100%; 
  width: 100%;
  height: 100vh;
  background-color: #222033b9;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out;
  z-index: 9998;
}

.header-mobile .nav-links .nav-component{
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}


.header-mobile .nav-links.active {
  left: 15%; 
}

.header-mobile .nav-links a {
  color: #a0aec0;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem 0;
  display: block;
  width: 90%;
  text-align: center;
  padding: 1rem;
  transition: all 0.3s;
}

.header-mobile .nav-links a:hover {
  color: white;
  scale: 1.1;
  background-color: #373543;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ;
}


@media screen and (max-width: 768px) {
  .background .bg1 {
      max-height: 21.5%;
  }
  /* .nav-bar {
      display: none;
  } */

  .header-mobile {
      display: flex;
  }
}
