{% load static %}



<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'pico.css' %}">
    {% block 'head' %}
    
    {% endblock  %}
    <title>  {% block 'title' %}{% endblock  %} </title>
</head>
<div>
    
    <!-- aqui o menu -->
    
    <nav >
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'mesas' %}">Mesas</a></li>
            <li><a href="{% url 'comandas' %}">Comandas</a></li>
            <li><a href="{% url 'products' %}">Produtos</a></li>
            <li><a href="{% url 'viewBalcao' %}">Balcão</a></li>
            <li><a href="{% url 'mapMesas' %}">Mapa de Mesas</a></li>
            <li><a href="#">Categorias</a></li>
        </ul>
    </nav>
    <!-- <div class="content">
        <h1>Bem-vindo ao meu site!</h1>
    </div> -->
    
    
</div>
<body>
    {% block 'body' %}
    {% endblock  %}
    <script src="{% static 'htmx_base.js' %}"></script>
</body>
</html>