{% load static %}



<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'pico.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block 'head' %}
    
    {% endblock  %}
    <title>  {% block 'title' %}{% endblock  %} </title>
</head>

<div>
    <header class="p-header">
        <nav class="nav-bar">
            <div class="logo">
                <h1>RRBEC</h1>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="{% url 'comandas' %}" class="nav-link">Comandas</a></li>
                    <li class="nav-item"><a href="{% url 'pedidos' %}" class="nav-link"> Pedidos</a></li>
                    <li class="nav-item"><a href="{% url 'products' %}" class="nav-link"> Produtos</a></li>
                    <li class="nav-item"><a href="{% url 'viewBalcao' %}" class="nav-link"> Balcão</a></li>
                    <li class="nav-item"><a href="{% url 'mapMesas' %}" class="nav-link"> Mapa</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button onclick="entrar()" ><a href="#">Entrar</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="https://raw.githubusercontent.com/Larissakich/menu_responsivo/6e3b09504434628c1b01f65b7d8ccf6ace3225cb/menu%20responsivo/assets/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="{% url 'comandas' %}" class="nav-link">Comandas</a></li>
                <li class="nav-item"><a href="{% url 'pedidos' %}" class="nav-link">Pedidos</a></li>
                <li class="nav-item"><a href="{% url 'products' %}" class="nav-link">Produtos</a></li>
                <li class="nav-item"><a href="{% url 'mapMesas' %}" class="nav-link">Mapa</a></li>
            </ul>

            <div class="login-button">
                <button onclick="entrar()"><a href="#">Entrar</a></button>
            </div>
        </div>
    </header>
        
    <!-- <nav >
        <ul>
            <li><a href="{% url 'mesas' %}">Mesas</a></li>
            <li><a href="#">Categorias</a></li> 
        </ul>
    </nav> -->

    
    
</div>
<br>
<body>
    {% block 'body' %}
    {% endblock  %}
    <script src="{% static 'htmx_base.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
</body>
</html>