{% load static %}
{% load custom_filter_tag %}



<!DOCTYPE html>
<html lang="pt-BR" id="all">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'midia/favicon/favicon.ico' %}" />
    
    <link rel="stylesheet" href="{% static 'pico.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block 'head' %}
    
    {% endblock  %}
    <title>  {% block 'title' %}{% endblock  %} </title>
</head>

<div>
    <header class="p-header">
        <nav class="nav-bar">
            <div class="logo">
                <h1>
                     <img src="{% static 'midia/logo.png'  %}" width="60">
                </h1>
            </div>
            <div class="nav-list">
                <ul>
                    {% if user|groupUser:"Gerente" %}
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Início</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'comandas' %}" class="nav-link">Comandas</a></li>
                    <li class="nav-item"><a href="{% url 'pedidos' %}" class="nav-link">Cozinha</a></li>
                    <li class="nav-item"><a href="{% url 'viewBalcao' %}" class="nav-link">Balcão</a></li>
                    <li class="nav-item"><a href="{% url 'mapMesas' %}" class="nav-link">Mapa</a></li>
                    
                    <div class="dropdown">
                        <li class="nav-item">Cadastros<img  class="img-drop" src="{% static 'midia/icons/down.svg' %}"></li>
                        <div class="dropdown-content">
                          <a href="{% url 'products' %}" class="nav-link">Produtos</a>
                          <a href="{% url 'categories' %}" class="nav-link">Categorias</a>
                          <a href="{% url 'clients' %}" class="nav-link">Clientes</a>
                          <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>

                        </div>
                      </div>

                </ul>
            </div>
            
            <div class="logout-button">
                {{ user.first_name }} {{ user.last_name }}
                <a href="{% url 'logout' %}" style="width: 50px;"><img src="{% static 'midia/icons/logout.svg'  %}" style="width: 40px;"></a>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="https://raw.githubusercontent.com/Larissakich/menu_responsivo/6e3b09504434628c1b01f65b7d8ccf6ace3225cb/menu%20responsivo/assets/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                {% if user|groupUser:"Gerente" %}
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Início</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'comandas' %}" class="nav-link">Comandas</a></li>
                <li class="nav-item"><a href="{% url 'pedidos' %}" class="nav-link">Cozinha</a></li>
                <li class="nav-item"><a href="{% url 'mapMesas' %}" class="nav-link">Mapa</a></li>


                    <div class="dropdown">
                        <li class="nav-item">Cadastros<img class="img-drop" src="{% static 'midia/icons/down.svg' %}" style="width: 35px;"> </li>
                            <div class="dropdown-content">
                            <a href="{% url 'products' %}" class="nav-link"> Produtos</a>
                            <a href="{% url 'categories' %}" class="nav-link"> Categorias</a>
                            <a href="{% url 'clients' %}" class="nav-link"> Clientes</a>
                            <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>


                            </div>
                  </div>
            </ul>
            <div class="logout-button">
                {{ user.first_name }} {{ user.last_name }}
                <a href="{% url 'logout' %}"><img src="{% static 'midia/icons/logout.svg'  %}" style="width: 40px;"></a>
            </div>
        </div>
    </header>
    
    
</div>
<br>
<body>
    {% block 'body' %}
    {% endblock  %}
    <script src="{% static 'htmx_base.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
</body>





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



<div class="navigation">
    <ul>
        <li><a href="#"><span onclick="openFullscreen()" class="icon"><i class="fas fa-home"></i></span></a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-user"></i></span></a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-cog"></i></span></a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-envelope"></i></span></a></li>
        <li><a href="#"><span class="icon"><i class="fas fa-sign-out-alt"></i></span></a></li>
    </ul>
</div>

<footer>






</footer>
</html>