
  @keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes jump {
  0% {
    transform: scale(0.0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.loading {

  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  animation: girar 4s infinite linear;
}

.m-card {
    /* width: 50px; */
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 50px; 
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    transition: transform 0.2s;
    padding: 15px;
    margin-top: 15px;
    animation: jump 0.7s;
  }

  h4{
    color: black;
  }


.tab {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  border-bottom: 2px solid rgba(86, 187, 255, 0.192);
}

.tab button {
  width: 24%;
  background-color: #999aeb00;
  padding: 10px 10px;
  transition: 0.6s;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  border-color: rgba(86, 187, 255, 0.192);
  line-height: 20px; 
}

.tab button.active {
  border-radius: 8px 8px 0px 0px;
  border-color: rgba(86, 187, 255, 0.192);
  background: var(--main-gradient);
  box-shadow: 0px 0px 15px rgba(86, 187, 255, 0.815);
}

.tabcontent {
  display: none;
  padding: 6px 12px;

}

#list-orders{
  justify-self: center;
  width: 30%;
}

@media (max-width: 768px) {
#list-orders{
  width: 100%;
}
}