

  h4{
    color: black;
  }

h2 {
  font-size: 18px;
  justify-self: center;
  margin-bottom: 0px;
}

.container {
  margin-top: -50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.kanban-board {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.column {
    flex: 1;
    border: 1px solid #535353;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.cards-container {
    flex-grow: 1; /* Permite que o container de cards ocupe o espaço restante */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
    max-height: 85vh; /* Defina uma altura máxima para ativar o scroll */
    padding-right: 5px; /* Espaçamento para não cortar a barra de rolagem */
}

.cards-container::-webkit-scrollbar {
    width: 8px;
}

.cards-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.m-card {
    width: 100%; 
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 50px; 
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    transition: transform 0.2s;
    padding: 15px;
    margin-top: 15px;
    animation: jump 0.7s;
  }


  @media screen and (max-width: 1028px) {
    .container {
      padding: 0px;
      gap: 0px;
      min-width: 100%;
      min-height: 100%;
     
    }

    .kanban-board {
    gap: 0px;
  }

  .column {

    padding: 0px;

  }

  #title {
    display:none;
  }

}