
  @keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {

  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  animation: girar 4s infinite linear;
}

.m-card {
    /* width: 50px; */
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 50px; 
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    transition: transform 0.2s;
    padding: 15px;
    margin-top: 15px;
  }

  h4{
    color: black;
  }


.tab {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  border-bottom: 2px solid #cccccc93;
}

.tab button {
  width: 24%;
  background-color: #4446d636;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s;
  border-radius: 20px 20px 0px 0px;
}

.tab button.active {
  background-color: #4446d6;
}

.tabcontent {
  display: none;
  padding: 6px 12px;

}