{% extends "base.html" %}
{% load static %}


{% block 'title' %}
{{comanda.name}}
{% endblock %}



{% block 'head' %}
<link rel="stylesheet" href="{% static 'comandas/css/viewbalcao.css' %}">
{% endblock %}


{% block 'body' %}

<body>
  <div class="grid-container" >
    <div style="text-align: center;">
    <h1>Venda Balcão</h1>
    <div>

      <button  id="pagarComanda" onclick="modal_payment_comanda()" 
      {% if total == 0 %}
      disabled
      {% endif %}
      >Receber</button>

      <button class="button" id="imprimirFichas"  onclick="imprimirFichas()"
      {% if total == 0 %}
      disabled
      {% endif %}
      >Imprimir Fichas</button>

    </div>

    <table id="list-products-balcao">
      <tr>
        <th style="text-align: left;">Produto</th>
        <th style="text-align: left;">Preço</th>
      </tr>

    {%  for item in consumo%}

    <tr>
      <td>{{item.product.name}}</td>
      <td>R$ {{item.product.price}}</td>
      <td><button
        hx-get="{% url 'removeProductBalcao' item.id  %} " hx-trigger="click" hx-target="#list-products-balcao"
        >🗑️ Excluir</button></td>
    </tr>
    


      {% endfor %}
      <tfoot>
        <tr>
          <td colspan="2" style="text-align: center;">Total R$ {{total}}</td>
        </tr>
      </tfoot>
      </table>
    </div>



    <div id="add-produto">
      
        <!-- <article> -->

        <form id="productForm" >
            <h2 style="text-align: center;">Buscar Produto </h2>
            <div class="grid-container">
              <input 
              onkeypress="searchProduct()"
              type="text" 
              id="search-product" 
              name="search-product" 
              autofocus 
              placeholder="Buscar Produto" 
              
              >
            <input 
            type="number" 
            id="qtd-product" 
            name="qtd-product" 
            value="1" 
            required min="1"
            
            ><br>
          </div>
            <div id="product-list" class="grid-list-products">
                {% for product in products %} 

                {% if forloop.counter0 == 0 %}

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                onclick="addProductClick({{product.id}} , {{comanda.id}})"
                style="background-color: #293552;" 
                
                >
                <p hidden id="{{forloop.counter0}}" >{{product.id}}</p>
                <p hidden id="comanda{{forloop.counter0}}" >{{comanda.id}}</p>
                  {{product.name}} <br> <p id="{{product.id}}"></p>
                  R$ {{product.price}}
                </article >

                {% else %}

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                onclick="addProductClick({{product.id}} , {{comanda.id}})"
                style="background-color: #293552;" 
                
                >
                  {{product.name}} <br>
                  R$ {{product.price}}
                </article >

                {% endif %}

                {% endfor %}
              </div>


          </form>

        <!-- </article> -->
 


    </div>




  </div>



<dialog id="payment-comanda" style="display: none;" >
  <article>
    <h2>Receber</h2>
    <h1>R$ {{ total }}</h1>
    <p>
    </p>
    <ul>
    </ul>
    <footer>
      <button class="secondary" hx-get="{% url 'paymentBalcao' comanda.id %} " hx-trigger="click" hx-swap="none"  onclick="backPage()">
        Comfimar
      </button>

      <button onclick="close_modal_payment_comanda()" >Cancelar</button>
    </footer>
  </article>
</dialog>


<script src="{% static 'comandas/js/viewbalcao.js' %}"></script>
</body>




{% endblock %}