.grid-container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 10px;
  max-width: 95%; 
  margin-top: 15px;
}


.card-comanda {
  width:200px;
  max-width: 200px;
  gap: 3px;
  background: var(--main-gradient);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 20px; 
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.2s ease-in ;
}

p {
  color: rgb(194, 201, 207);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.card-comanda:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

input, textarea {
    width: 95%;
    max-width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-comanda {
    width: 31%;
    gap: 3px;
    flex-wrap: wrap;
      font-size: 15px;
      font-weight: bold;
      color: #333;
      transition: transform 0.2s;
    }

    .card-comanda:hover {
      transform: scale(1);
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }
  
}
