.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto; 
  }

  body {
    z-index: 0;
  }

  .grid-list-products {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 800px;
  }
  
  .card-product {
    height: 180px;
    width: 200px;
    padding: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 1.5;
    background: var(--main-gradient);
    box-shadow: 3px 3px 10px rgba(2, 2, 2, 0.678);
    border-radius: 5px;
    transition: transform 0.4s, box-shadow 0.4s;
    }
  
  .card-product:hover {
    transform: scale(1.05);
    transition: transform 0.4s, box-shadow 0.4s;
    box-shadow: 0px 0px 10px rgba(86, 187, 255, 0.815);
  }
  
  table td th {
    text-align: center;
  }
  
  .close {
    height: 45px;
    transition: transform 0.4s;
  }
  .close:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
    filter: drop-shadow(0px 0px 8px rgba(255, 1, 1, 0.452));
  }

  .popover{
    position: relative;
    width: 98%;
    height: 96%;
    max-width: 800px;
    top: 20px;
    left: 25%;
    padding: 20px;
    background-color: #1f1f1fb6;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 8px rgba(143, 143, 143, 0.2);
    text-align: justify;
    line-height: 50px; 
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    /* color: #333; */
    transition: transform 0.4s;
    animation: jump 0.5s;
  }


  .popover::backdrop {
    background-color: rgba(39, 39, 39, 0.315);
    backdrop-filter: blur(5px);
  }

  .toast-add {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #599100;
    color: #000000;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 200 !important;
  }
  
  .toast-add p {
    color: #000000;
  }
  
  .toast-add.show {
    opacity: 1;
    visibility: visible;
  }
  @media screen and (max-width: 730px) {

    .popover{
      width: 98%;
      height: 98%;
      max-width: 800px;
      top: 20px;
      left: 10px;
      }

      .card-product {
        height: 100%;
        width: 100%;
        max-width: 100%;
        text-align: center;
        background: var(--main-gradient);
        box-shadow: 3px 3px 10px rgba(2, 2, 2, 0.678);
        font-size: 14px;
        }
    }