
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
  }

  .grid-list-products {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }

.card-product {
  background: var(--main-gradient);
  box-shadow: 3px 3px 10px rgba(2, 2, 2, 0.678);

  }

.card-product:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(86, 187, 255, 0.815);
  }

table td th {
  text-align: center;
  }

