.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto; 
  }

  body {
    z-index: 0;
  }

  .grid-list-products {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 800px;
  }
  
  
  table td th {
    text-align: center;
  }
  


  @media screen and (max-width: 730px) {

      .card-product {
        height: 100%;
        width: 100%;
        max-width: 100%;
        text-align: center;
        background: var(--main-gradient);
        box-shadow: 3px 3px 10px rgba(2, 2, 2, 0.678);
        font-size: 14px;
        }
    }