

{% for product in products %}

{% if forloop.counter0 == 0 %}

                <article 
                   style="background-image:  url('{{product.image}}');"
                name="productBox"
                id="productId-{{ product.id }}" 
                class="card-product"
                onclick="addProductClick({{product.id}} )"
                >
                <p hidden id="{{forloop.counter0}}" >{{product.id}}</p>
                <p hidden id="comanda{{forloop.counter0}}" >{{comanda.id}}</p>
               <p class="card-product-p"> {{product.name}}</p> 
               <p id="{{product.id}}"></p>
               <p class="card-product-p"> R$ {{product.price}}</p>
                </article >

        {% else %}

                <article 
                   style="background-image:  url('{{product.image}}');"
                name="productBox"
                id="productId-{{ product.id }}" 
                class="card-product" 
                onclick="addProductClick({{product.id}})"
                >
                  <p class="card-product-p"> {{product.name}}</p>
                 <p class="card-product-p"> R$ {{product.price}}</p>
                </article >

        {% endif %}


{% endfor %}

<!-- hx-swap="none"> -->



        <div 
                style="background-image:  url('{{product.image}}');"
                 class="card-product"
                  onclick="addProductComanda({{product.id}}, {{comanda.id}}, '{{product.cuisine}}')" >
                 <p class="card-product-p"> {{product.name}}</p>
                 <p class="card-product-p"> R$ {{product.price}}</p>
                </div >


