{% extends "base.html" %}
{% load static %}



{% block 'head' %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'title' %}
RRB&C - DashBoard
{% endblock %}

{% block 'body' %}

<body>
  <h1>DashBoard Aqui</h1>
  <div class="grid-container">

    <div class="card">
      <h4> Valor Total de Pagamentos </h4>
      <h4>R$ {{total_pagamentos |floatformat:2 }} </h4>
    </div>
    <div class="card">
      <h4> Quantidade de Pagamentos </h4>
      <h4> {{ qdt_pagamentos }} </h4>
    </div>

    <div class="card">
      <h4> Mais Vendidos </h4>
      <table >
        <tr>
          <th style="text-align: left;">Produto</th>
          <th style="text-align: left;">Quantidade</th>
        </tr>
      {% for produto in produtos_mais_vendidos %}
      <tr>
      <td> {{ produto.nome }} </td>
      <td> {{ produto.quantidade }} </td>
    </tr>
    
      {% endfor %}
    </table>
    </div>



  </div>
</body>


{% endblock %}