{% extends "base.html" %}
{% load static %}



{% block 'head' %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">












{% endblock %}

{% block 'title' %}
RRB&C - DashBoard
{% endblock %}

{% block 'body' %}

<body>

  <h1>DashBoard</h1>
  <div class="grid-container">

    <div class="card">
      <h4> Valor de Pagamentos </h4>
      <h5>R$ {{total_pagamentos |floatformat:2 }} </h5>
      <hr>
      <h4> Quantidade de Pagamentos </h4>
      <h5> {{ qdt_pagamentos }} </h5>
      <hr>
      <h4> Ticket médio </h4>
      <h5>R$ {{ ticekMedio |floatformat:2}} </h5>
      <hr>
    </div>

    <div class="card">
      <h4> Gráficos de vendas </h4>
      <div></div>
      <canvas id="vendas" style="width:100%;height: 85%;max-width:100%; background-color: rgb(191, 225, 255);border-radius: 5px;">
      </canvas>
    </div>


    <div class="card">
      <h4> Gráficos cozinha </h4>
      <div></div>
      <canvas id="cuisine" style="width:100%;height: 85%;max-width:100%; background-color: rgb(191, 225, 255);border-radius: 5px;">
      </canvas>
    </div>

    <div class="card">
      <h4> Mais Vendidos </h4>
      <table style="background-color: rgba(0, 255, 255, 0);">
        <tr style="background-color: rgba(0, 255, 255, 0);">
          <th style="text-align: left;background-color: rgba(0, 255, 255, 0.089);">Produto</th>
          <th style="text-align: left;background-color: rgba(0, 255, 255, 0.075);">Quantidade</th>
        </tr>
      {% for produto in produtos_mais_vendidos %}
      <tr>
      <td id="n-{{forloop.counter0}}" style="background-color: rgba(0, 255, 255, 0);"> {{ produto.nome }} </td>
      <td id="q-{{forloop.counter0}}" style="background-color: rgba(0, 255, 255, 0);"> {{ produto.quantidade }} </td>
    </tr>
    
      {% endfor %}
    </table>
    </div>



  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="{% static 'home/js/home.js' %}"></script>


</body>


{% endblock %}