

.grid-buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 500px; 
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1300px;
    max-width: 99%;
    width: 100%;
    margin: 0px; 
  }

.grid-top {
    display: grid;
    padding: 10px;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    width: 100%; 
  }

  .modal-product{
        position: relative;
    width: 100%;
    /* height: 750;  */
    background-image: url('https://placehold.co/600x800/efc7b8/49291c?text=Sem_Imagem'); /* URL da imagem */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 

  }
  .modal-product::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba(0, 0, 0, 0.6); 
  }

  th {
      background-color: #170e4f;
      cursor: pointer;
      position: relative;
    }

  th.sorted-asc::after {
      content: " ▲";
      font-size: 0.8em;
      vertical-align: super;
    }
    th.sorted-desc::after {
      content: " ▼";
      font-size: 0.8em;
      vertical-align: super;
    }

    #product-list {
  width: 100%;
  border-collapse: collapse;
}

#product-list th,
#product-list td {
  padding: 8px;
  text-align: left;
}

#product-list th {
  position: sticky; 
  top: 60px;          
  z-index: 10;     
  /* cursor: pointer;   */
}

  @media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }

    .grid-buttons {
    display: none;
    gap: 10px;
    max-width: 100px;
    width: 80px;
  }
  }