<tr>
    <th style="text-align: left;">Produto</th>
    <th style="text-align: left;">Preço</th>
  </tr>

{%  for item in consumo%}

<tr>
  <td>{{item.product.name}}</td>
  <td>R$ {{item.product.price}}</td>
  <td><button class="btn-cancel" onclick="removeProductBalcao({{item.id}})"
   
    >🗑️ Excluir</button></td>
</tr>

{% endfor %}

<tfoot>
    <tr>
      <td  value={{total}} colspan="2" style="text-align: center;">Total R$ {{total}}</td>
    </tr>
    <tr  >
      <td hidden id="total">{{total}}</td>
    </tr>
  </tfoot>
</table>


