

{% for product in products %}

{% if forloop.counter0 == 0 %}
<input hidden type="text" id="idComanda0" value="{{comanda_id}}">

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                style="background-color: #293552;" 
                onclick="addProductClick({{product.id}} , {{comanda_id}})"
                >
                <p hidden id="{{forloop.counter0}}" >{{product.id}}</p>
                <p hidden id="comanda{{forloop.counter0}}" >{{comanda.id}}</p>
                {{product.name}} <br> <p id="{{product.id}}"></p>
                R$ {{product.price}}
                </article >

        {% else %}

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                style="background-color: #293552;" 
                onclick="addProductClick({{product.id}} , {{comanda.id}})"
                >
                {{product.name}} <br>
                R$ {{product.price}}
                </article >

        {% endif %}


{% endfor %}

<!-- hx-swap="none"> -->






