

{% for product in products %}

        {% if forloop.counter0 == 0 %}

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                style="background-color: #293552;" 
                
                >
                <p hidden id="{{forloop.counter0}}" >{{product.id}}</p>
                <p hidden id="comanda{{forloop.counter0}}" >{{comanda_id}}</p>
                {{product.name}} <br> <p id="{{product.id}}"></p>
                R$ {{product.price}}
                </article >

        {% else %}

                <article 
                name="productBox"
                id="productId-{{ product.id }}" 
                style="background-color: #293552;" 
                
                >
                {{product.name}} <br>
                R$ {{product.price}}
                </article >

        {% endif %}


{% endfor %}

<!-- hx-swap="none"> -->






