{% extends "base.html" %}
{% load static %}


{% block 'title' %}
Comandas
{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'comandas/css/comandas.css' %}">
{% endblock %}

{% block 'body' %}

<body>
    <div class="grid-container">
      <button class="button" id="openModal">Abrir Comanda</button>

    {% for comanda in comandas %}

    <a href="{% url 'viewcomanda' %}?parametro={{ comanda.id }}"><div class="card" > 
        {{comanda.name}}  <br>
        {{comanda.mesa}}
    
  </div></a>

    {% endfor %} 


  </div>

  <div class="modal" id="Modal-create-comanda">
    <div class="modal-content">
        <form id="form-comanda" method="post" action="{% url 'createComanda' %}">
            {% csrf_token %}
            <h2>Abrir Comanda</h2>
            <input type="text" id="name-comanda" name="name-comanda" required placeholder="Nome"><br>
             <select name="select-mesa" >

                {% for mesa in mesas %}
                <option value="{{mesa.id}}">{{mesa.name}}</option>
                {% endfor %}

            </select>
            <button type="submit">Abrir</button>
            <button type="button" onclick="closeModal()" style="background-color:red;">Fechar</button>
        </form>
    </div>
</div>
</body>
<script src="{% static 'comandas/js/comandas.js' %}"></script>




{% endblock %}