{% extends "base.html" %}
{% load static %}




{% block 'title' %}
Comandas{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'comandas/css/comandas.css' %}">
{% endblock %}
{% block 'body' %}

body>
  <div class="grid-container">

    {% for comanda in comandas %}

    <div href="{% url 'viewcomanda' %}?parametro={{ comanda.id }}" class="card"> <a href="{% url 'viewcomanda' %}?parametro={{ comanda.id }}">{{comanda.name}} </a> 
    

  </div>

    {% endfor %} 


  </div>
</body>




{% endblock %}